.Master_Container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px 30px;
    width: 1300px;
}

.Master_Container li {
    text-align: left;
}

.Master_Container > li:nth-child(1) > h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.Master_Container > li > h3 {
    font-family: SUIT-Thin;
    
}

.Master_Container > li:nth-child(1) > h3 {
    font-size: 17px;
    line-height: 20px;
}

.Master_Container > li > h3 { 
    line-height: 27px;
}

.Master_Box h1 {
    border-bottom: 1px solid #000;
    text-align: left;
    padding-bottom: 10px;
    font-family: SUIT-Thin;
    font-size: 35px;
}

.Master_Box h3 {
    font-size: 19px;
}

.Master_Box h3:nth-child(2) {
    margin-top: 20px;
}

.Master_PJ1 {
    margin-top: 40px;
    font-family: SUIT-Regulur;
    color: #EC5B44;
    font-size: 19px;
}

.Master_PJ1 img {
    margin-bottom: -4px;
    color: #EC5B44;;
}

.Master_PJ1 a:hover img {
    animation-name: slideright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slideright {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px);
    }
}

.Master_PJ2 {
    margin-top: 13px;
    font-family: SUIT-Regulur;
    color: #EC5B44;
    font-size: 19px;
}

.Master_PJ2 img {
    margin-bottom: -4px;
}

.Master_PJ2 a:hover img {
    animation-name: slideright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Master_Br_Mobile {
    display: none;
}

@media screen and (max-width: 1600px) { 
    .Master_Container {     
        gap: 60px 10px;
        width: 1200px;
    }


    .Master_Container > li:nth-child(1) > h1 {
        font-size: 35px;
    }

    .Master_Box h3 {
        font-size: 20px;
    }

    .Master_Container li {
        width: 340px;
    }
}

@media screen and (max-width: 1280px) {
    .Master_Container {
        width: 100%;
        gap: 45px 30px;
    }

    .Master_Container > li:nth-child(1) > h1 {
        font-size: 40px;
    }

    .Master_Container > li:nth-child(1) > h3 {
        font-size: 15px;
    }

    .Master_Container li {
        width: 260px;
    }

    .Master_PJ1 {
        margin-top: 27px;
    }

    .Master_Box h3 {
       font-size: 15px;
    }

    .Master_PJ1 img {
        width: 20px;
        height: 20px;
    }

    .Master_PJ1 a {
        font-size: 15px;
    }

    .Master_PJ2 img {
        width: 20px;
        height: 20px;
    }

    .Master_PJ2 a {
        font-size: 15px;
    }
}

@media screen and (max-width: 935px) {

    .Master_Container {
        grid-template-columns: repeat(2,1fr);
        width: 600px;
    }
    
    .Master_Container li:nth-child(1) {
        grid-column: span 2;
    }

    .Master_PJ1 {
        font-size: 15px;
    }
    .Master_PJ2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 680px) {

    .Master_Container {   
        width: 400px;
    }

    .Master_Container li:nth-child(n + 2) {
        width: 170px;
    }

    .Master_Container > li:nth-child(1) > h1 {
        font-size: 35px;
    }

    .Master_Container > li:nth-child(1) > h3 {
        font-size: 15px;
    }

    .Master_Box h1 {
        font-size: 25px;
    }
    
    .Master_Box h3 {
        font-size: 13px;
    }

    .Master_PJ1 {
        margin-top: 10px;
        font-size: 13px;
    }
    .Master_PJ2 {
        font-size: 13px;
    } 

    .Master_Br_Mobile {
        display: block;
    }
}