.Business_Container {
    padding-top: 200px;
}

.Business_SunMap_Box {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.Business_Br_After {
 display: none;
}

.Business_Youtube {
    box-shadow: rgb(0 0 0 / 20%) 10px 10px 20px;
    padding: 25px;
    border-radius: 45px;
    width: 850px;
    height: 500px;
    overflow: hidden;
}

.Business_SunMap_Box article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 80px;
}

.Business_SunMap_Box article h1 {
    font-size: 50px;
    line-height: 90px;
}

.Business_SunMap_Box article h3 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 100;
}

.Business_SunMap_Box article span {
    margin: 20px 0;
    font-size: 25px;
    color: #1D336A;
}

.Business_SunMap_Box article span a { 
    display: flex;
    align-items: center;
    font-family: SUIT-SemiBold;
}

.Business_SunMap_Box article span a:hover img { 
    animation-name: slideright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes slideright {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px);
    }
  }

.Business_Icon {
    width: 25px;
    height: 25px;
}


/* ################## Article Bottom ################## */

.Business_Monitoring_Box {
    display: flex;
    justify-content: center;
    background: #F5F8FA;
    padding: 200px 0;
}

.Business_Img_Container {
    display: flex;
    justify-content: center;
    width: 850px;
    padding: 25px 0px;
    border-radius: 45px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 20%) 10px 10px 20px;
}

.Business_Img_Box {
    border-radius: 25px;
    width: 800px;
    height: 500px;
    overflow: hidden;
}


.Business_Img_png {
    width: 800px;
    height: 3800px;
    background-size: 800px;
    /* background-size: 150px; */
    background-image: url(/public//ilerst/통합관제시스템.jpg) ;
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 15s linear infinite ;
}

@keyframes moveSlideshow {
    100% { 
      transform: translateY(-47%);  
    }
  }


.Business_Monitoring_Box article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: 80px;
}

.Business_Monitoring_Box article > div > div > h1:nth-child(1) {
    font-size: 50px;
    line-height: 90px;
}

.Business_Monitoring_Box article > div > div > h1:nth-child(2) {
    font-size: 50px;
    margin-bottom: 25px;
}

.Business_Monitoring_Box article h3 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 100;
}

.Business_Monitoring_Box article span {
    margin: 20px 0;
    font-size: 25px;
    color: #1D336A;
}

.Business_Monitoring_Box article span a {
    display: flex;
    align-items: center;
    font-family: SUIT-SemiBold;
}

.Business_Monitoring_Box article span a:hover img { 
    animation-name: slideright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Business_Icon {
    width: 25px;
    height: 25px;
}


@media screen and (max-width: 1550px) {
    .Business_SunMap_Box {
        align-items: center;
        flex-direction: column;
        padding-bottom: 100px;
    }

    .Business_Br {
        display: none;
    }

    .Business_Br_After {
        display: block;
    }

    .Business_SunMap_Box article {
        margin: 30px 120px 0 0;
    }

    .Business_Main_Box {
        display: flex;
    }

    .Business_Main_Box img {
        margin-right: 20px;
    }

    .Business_Monitoring_Box {
        align-items: center;
        flex-direction: column-reverse;
        padding: 100px 0;
    }

    .Business_Monitoring_Box article {
        margin: 50px 120px 0 0;
    }

    .Business_Main_Box > div > h1 {
        font-size: 50px;
    }
}


@media screen and (max-width: 900px) { 

    .Business_Main_Box {
        align-items: center;
    }

    .Business_Youtube {
        width: 600px;
        height: 360px;
    }

    .Business_SunMap_Box article {
        margin-right: 0px;
    }

    .Business_SunMap_Box article h1 {
        font-size: 30px;
        line-height: 50px;
    }

    .Business_Main_Box img {
        width: 50px;
        height: 50px;
    }

    .Business_SunMap_Box article h3 {
        font-size: 20px;
        line-height: 40px;
    }

    .Business_SunMap_Box article span {
        font-size: 20px;
    }

    .Business_Img_Container {
        width: 600px;
        padding: 25px 0px;
    }
    
    .Business_Img_Box {
        width: 550px;
        height: 360px;
    }
    
    
    .Business_Img_png {
        width: 550px;
        height: 2615px;
        background-size: 550px;
    }

    .Business_Monitoring_Box article {
        margin-right: 0px;
    }



    .Business_Monitoring_Box article > div > div > h1:nth-child(1) {
        font-size: 30px;
        line-height: 30px;
    }
    
    .Business_Monitoring_Box article > div > div > h1:nth-child(2) {
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 0px;
    }

    .Business_Monitoring_Box article h3 {
        font-size: 20px;
        line-height: 40px;
    }

    .Business_Monitoring_Box article span {
        font-size: 20px;
    }

}


@media screen and (max-width: 650px) { 
    .Business_Youtube {
        width: 450px;
        height: 275px;
    }

    .Business_SunMap_Box article h1 {
        font-size: 25px;
        line-height: 50px;
    }

    .Business_Main_Box img {
        width: 40px;
        height: 40px;
    }

    .Business_SunMap_Box article h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .Business_SunMap_Box article span {
        font-size: 18px;
    }


    .Business_Img {
        width: 450px;
        height: 275px;
    }

    .Business_Img_Container {
        width: 450px;
    }
    
    .Business_Img_Box {
        width: 400px;
        height: 275px;;
    }
    
    .Business_Img_png {
        width: 400px;
        height: 1900px;
        background-size: 400px;        
    }

    .Business_Monitoring_Box article > div > div > h1:nth-child(1) {
        font-size: 25px;
        line-height: 25px;
    }
    
    .Business_Monitoring_Box article > div > div > h1:nth-child(2) {
        font-size: 25px;
        line-height: 40px;
        
    }

    .Business_Monitoring_Box article h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .Business_Monitoring_Box article span {
        font-size: 18px;
    }

}