.Carousel_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin-top: 60px;
}

.Carousel_Container ul{
    height:calc(100% * 4);
    animation:slide 15s infinite;
    font-size: 26px;
}

.Carousel_Container li {
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100% / 4);
    line-height: 160px;
}

.Carousel_Br {
    display: none;
}

@keyframes slide {
    0% {margin-top:0px;}
    10% {margin-top:0px;}
    25% {margin-top:-100px;}
    35% {margin-top:-100px;}
    50% {margin-top:-200px;}
    60% {margin-top:-200px;}
    75% {margin-top:-300px;}
    85% {margin-top:-300px;}
    100% {margin-top:0;}
  }

.Carousel_Container li img{
    height: 50px;
    margin-right: 30px;
}

.Carousel_Container li:nth-child(4) img{
    width: 195px;
    height: 50px;
    margin-right: 30px;
    margin-bottom: 7px;
}

@media screen and (max-width: 1280px) {
    .Carousel_Container ul{
        font-size: 20px;
    }
}

@media screen and (max-width: 770px) {
    .Carousel_Br {
        display: block;
    }

    .Carousel_Container li {
        flex-direction: column;
        line-height: 25px;
        padding-bottom: 50px;
    }

    @keyframes slide {
        0% {margin-top:35px;}
        10% {margin-top:35px;}
        25% {margin-top:-100px;}
        35% {margin-top:-100px;}
        50% {margin-top:-235px;}
        60% {margin-top:-235px;}
        75% {margin-top:-370px;}
        85% {margin-top:-370px;}
        100% {margin-top:35px;}        
    }
}

@media screen and (max-width: 500px) {
    .Carousel_Container ul{
        font-size: 15px;
    }

    .Carousel_Container li img{
        width: 130px;
        height: 25px;
    }

    @keyframes slide {
        0% {margin-top:35px;}
        10% {margin-top:35px;}
        25% {margin-top:-90px;}
        35% {margin-top:-90px;}
        50% {margin-top:-225px;}
        60% {margin-top:-225px;}
        75% {margin-top:-370px;}
        85% {margin-top:-370px;}
        100% {margin-top:35px;}        
    }
}